.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.rank {
  z-index: 2;
  position: relative;
}

#tsparticles {
  position: relative;
}

#signout {
  color: white;
  z-index: 2;
}

#signin {
  color: white;
  z-index: 2;
}


#register {
  color: white;
  z-index: 2;
}

#measure{
  margin-top: 10px;
}


.signincard {
  
  z-index: 2;
  
}

#sign_up {
  border: none;
}
